@use './variables' as*;
@use './mixin' as*;


a,
button,
input {
    &.e_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 52px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        height: 50px;
        transition: .3s ease-in-out;
        border-radius: 24px;
        @include fz(16);

        @include desktop {
            padding: 0 70px;
        }
    }
}